/*#btn-back-to-top {*/
/*    position: fixed;*/
/*    bottom: 20px;*/
/*    right: 20px;*/
/*    border-color: transparent;*/
/*    color: #597da3;*/
/*    background-color: transparent;*/
/*    display: none;*/
/*}*/
li{
    list-style-type:none;
}

#nav_d1 {
    color: #ffffff;
}
#nav_d2,
#nav_d3{
    text-shadow: unset;
}
.nav-link:hover {
    color: #ffffff;
    text-shadow: 0 0 3px #ACBED1;
}
.nav-link{
    color: #ffffff;
}
.navbar-brand:hover {
    color: #ffffff;
    text-shadow: 0 0 3px #ACBED1;
}
.navbar-brand{
    color: #ffffff;
}

.navbar {
    background-color: #597da3;
    color: #ffffff;
}

.main_container {
    display: grid;
    height: calc(100vh - 70px);
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "places objects";
}

.places {
    background-color: #F0F0F0;
    height: calc(100vh - 70px);
    padding: 15px;
    grid-area: places;
}

#placesSearch {
    margin-bottom: 15px;
}

#placesList {
    max-height: calc(100vh - 165px);
    overflow-y: scroll;
}

#add_place_button{
    /*height: 30px;*/
    width: 100%;
    padding: 1px;
    margin-top: 15px;
    outline-color: #c1c1c1;
    background-color: #a4a4a4;
    /*margin-bottom: 15px;*/
}

#objTable_wrapper{
    padding: 20px;
    max-height: calc(100vh - 70px);
    overflow-y: scroll
}

.objects {
    /*padding: 0;*/
    /*margin-left: 20px;*/
    /*margin-top: 20px;*/
    grid-area: objects;
    /*padding-left: 10px ;*/
}

.form_container {
    width: 25vw;
    height: calc(100vh - 70px);
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F0F0F0;
}
.img_form_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "obj_image obj_form";
    width: 50vw;
    height: calc(100vh - 70px);
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F0F0F0;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.obj_image{
    border: aqua;
    margin: 10px;
    max-width: 90%;
    grid-area: obj_image;
}
.obj_form{
    grid-area: obj_form;
}
/*.main_block{*/
/*    height: calc(100vh - 50px);*/
/*}*/
