#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-color: transparent;
    color: #597da3;
    background-color: transparent;
    display: none;
}

.navbar-brand {
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar {
    background-color: #597da3;
    color: #ffffff;
}

.main_container {
    display: grid;
    height: calc(100vh - 70px);
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "places objects";
}

.places {
    background-color: #F0F0F0;
    height: calc(100vh - 70px);
    padding: 10px;
    grid-area: places;
}

#placesSearch {
    margin-bottom: 10px;
}

#placesList {
    max-height: calc(100vh - 140px);
    overflow: scroll;
}

/*#objTable{*/
/*    padding: 15px;*/
/*}*/

.objects {
    /*padding: 0;*/
    margin: 20px;
    grid-area: objects;
    /*padding-left: 10px ;*/
}

.form_container {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F0F0F0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.main_block{*/
/*    height: calc(100vh - 50px);*/
/*}*/
