{% extends "base.html" %}

{% block content %}
{#    {% if editing == True %}#}
{#        <h1> Изменение объекта </h1>#}
{#    {% else %}#}
{#        <h1> Добавление объекта </h1>#}
{#    {% endif %}#}
    <div class="form_container">
        <form action="" method="post" class="obj_form">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.serial_number.label }}<br>
                {{ form.serial_number(class="form-control") }}<br>
                {% for error in form.serial_number.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.obj_place.label }}<br>
                {{ form.obj_place(class="form-control") }}<br>
                {% for error in form.obj_place.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <div class="btn-group" role="group">
                {{ form.submit(type="submit", class="btn btn-outline-primary") }}
                {% if editing == True %}
                    <a href="/object_delete/{{ obj_id }}" class="btn btn-outline-danger">Удалить</a>
                    <a href="/object_history/{{ obj_id }}" class="btn btn-outline-info">История</a>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}