{% extends "user/base.html" %}

{% block content %}
    {% if histories %}
        <div class="history">
            <table class="table table-bordered" id="histTable">
                <thead>
                <tr>
                    <th>Старое место</th>
                    <th>Новое место</th>
                    <th>Время</th>
                </tr>
                </thead>
                <tbody>
                {% for hist in histories %}
                    <tr>
                        <td> {{ places.get(hist.old_place_id).text }}</td>
                        <td> {{ places.get(hist.new_place_id).text }}</td>
                        <td> {{ hist.get_date() }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1 align="center">
            Данные о перемещениях отстутствуют
        </h1>
    {% endif %}
{% endblock %}